@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

.converter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;

  font-family: Helvetica, sans-serif;

  &.converter--vertical {
    flex-direction: column;
    padding: 10px 0;

    .converter__swap {
      margin: 10px 0;
    }
  }

  &.converter--hooks {
    background-color: #2ecc71;
    color: #283a48;
    font-family: "Kaushan Script", cursive;

    button {
      transform: skewX(-10deg);
    }

    .temp-value__label {
      font-size: 28px;
    }
  }

  &.converter--class {
    background-color: firebrick;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;

    button {
      color: white;
      border-color: currentColor;
    }
  }

  button {
    color: black;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 6px;
  }

  > div:first-child {
    margin-right: 10px;
  }
}
